*,
*::after,
*::before{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{
    --cor-escura:#212529;
    --cor-preta:#000000;
    --fonte: 'Bebas Neue';
}
html{
font-size:62.5%;



}
body{
    font-family: var(--fonte);
    font-size: 1.6rem;

}
img{
max-width: 350px;

}
.container{
    
    
    
}
header{
    height: 330px;
    
    
}
header .logo{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    background-color: #212529;
   
    
}
header .logo-alt{
    display:none;
}
header .filtragem{
    margin:100px 300px ;
    max-width: 10px;
    display: flex;
    justify-content: space-between;
}
main{
    margin:0;
}
header .navegacao{
width: 60%;
margin-right: 100px;
margin-top: 30px;
}
header .navegacao > ul{
display:flex;
justify-content: space-between;
list-style: none;
align-items: center;
}
header .marcas img{
max-height: 100px;

}
header .navegacao a{
    color:white;


}
header .navegacao > h2{
    margin-top: 65px;
    margin-left:200px;


}
header .navegacao a:hover{
    color: #ced4da;
    border-bottom:.7rem solid #ced4da;
    
}
a{
    text-decoration: none;
}

main .ford,
main .chevrolet,
main .bmw,
main .mercedes,
main .nissan,
main .audi
{
    justify-content: space-between;
    display:flex;
    max-height: 100px;
    max-width: 100px;
    margin-top: 200px;
    

}
main .promocoes
{
    justify-content: space-between;
    display:flex;
    max-height: 100px;
    max-width: 100px;

    

}

main h3{
    margin-top: 20px;
    margin-left: 100px;


}
main .h2{

    


}
footer{
    margin-top: 200px;
    
}
footer .logos-rodape{
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.logos-rodape img{
    max-height: 100px;
    
}
main .agadois{

}
footer img{
height: 100px;
}
main .promocoes img,
main .ford img,
main .chevrolet img,
main .bmw img,
main .mercedes img,
main .nissan img,
main .audi img{
    padding-left: 20px;
    max-width: 310px;
}
footer .borda{
    background-color: #212529;
    height: 40px;
    display: flex;
    color:white;
    
}
.borda > h2{
    margin-left: 33%;
}
p{
margin-top: 100px;
}
